@using NPComplet.YourDeals.Client.Shared.ViewModels.Constant
@inject AppShellViewModel myAppshell
@inject IStringLocalizer<Translation> Localize
    <Error>
        <CascadingAuthenticationState>
            <CascadingBlazoredModal>
                <Router AppAssembly="@typeof(NPCompletApp).Assembly">
                    <Found Context="routeData">
                        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                    </Found>
                    <NotFound>
                        <LayoutView Layout="@typeof(MainLayout)">
                            <p>@Localize["Sorry, there's nothing at this address."]</p>
                        </LayoutView>
                    </NotFound>
                </Router>
            </CascadingBlazoredModal>
        </CascadingAuthenticationState>
    </Error>

    <AntContainer   /> 

    @code{
        protected override async Task OnInitializedAsync()
        {
            NPCompletApp.ShellViewModel = myAppshell;
            NPCompletApp.ShellViewModel.PropertyChanged += (o, e) =>
            {
                StateHasChanged();
            };
                await NPCompletApp.ShellViewModel.GetUserStatus();

        }
    }