@page "/changeyourpassword"
@inherits MvvmBlazor.Components.MvvmComponentBase<ForgetPasswordVM>;
@inject IStringLocalizer<Translation> Localize
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;
@using NPComplet.YourDeals.Client.Shared.ViewModels.Identity
<div class="card">
    <h4 class="card-header">@Localize["Change Your Password"]</h4>

    <div class="card-body">
        @if (BindingContext.ShowAuthError)
        {
            <div class="alert alert-danger" role="alert">
                <p>@BindingContext.Error</p>
            </div>
        }
        @if (BindingContext.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@BindingContext.SuccessMessage</p>
            </div>
        }

    <EditForm Model="BindingContext.UserForForgotPassword" OnValidSubmit="@(async () => await BindingContext.ExecuteChangePassword(BindingContext.OnChangedPassword))">
        <DataAnnotationsValidator />
        @if (BindingContext.isCallBack && BindingContext.SuccessMessage == null)
        {
            <div class="form-group row">
                <label for="password" class="col-md-2 col-form-label">@Localize["New password"] :</label>
                <div class="col-md-10">
                    <InputText type="password" id="password" class="form-control" @bind-Value="BindingContext.UserForForgotPassword.NewPassword" placeholder="@Localize["New password"]" />
                    <ValidationMessage For="@(() => BindingContext.UserForForgotPassword.NewPassword)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-md-2 col-form-label">@Localize["Confirm password"] :</label>
                <div class="col-md-10">
                    <InputText @bind-Value="BindingContext.UserForForgotPassword.ConfirmPassword" type="password" class="form-control" placeholder="@Localize["Confirm password"]"/>
                    <ValidationMessage For="@(() => BindingContext.UserForForgotPassword.ConfirmPassword)" />
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12 text-right">

                @if (!BindingContext.isCallBack)
                {
                    <NavLink href="/login" class="btn btn-link" @onclick="BindingContext.BackToLogin">@Localize["Login"]</NavLink>
                }
                else
                {
                    <button disabled="@BindingContext.Loading" class="btn btn-primary" type="submit">
                        @if (BindingContext.Loading == true)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        @Localize["Submit"]
                    </button>
                }
            </div>
        </div>
    </EditForm>
    </div>
</div>

